
<!-- Formulario Estatico NO TANTO -->
<!-- <div class="container-sm" id = "contact">
    <form #miformulario ="ngForm" (ngSubmit)="enviar()" >
        <div class="mb-3">
          <label for="dni" class="form-label">nombre</label>
          <input type="email" class="form-control" id="nombre" aria-describedby="emailHelp" 
          [(ngModel)]="usuario.nombre" required [ngModelOptions]="{standalone: true}" > 
           El [ngModelOptions]="{standalone: true}" es para que no tiere error en el form 
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input type="email" class="form-control" id="email" 
          [(ngModel)]="usuario.email" required  [ngModelOptions]="{standalone: true}" >
        </div>
        <button type="enviar" class="btn btn-primary">enviar</button>
      </form>
</div> -->

<!-- Formulario Dinamico IMPORTANTE -->
 <div class="container-sm" id = "contact">
    <form [formGroup] ="formularioContacto" (ngSubmit)="enviar()" >
        <div class="mb-3">
          <label for="nombre" class="form-label">Nombre</label>
          <input  [ngClass]="{'is-invalid' : hasErrors('nombre', 'required') || hasErrors('nombre', 'minlength')}" type="text" class="form-control" id="nombre" aria-describedby="emailHelp" formControlName = "nombre"> 
          <div  class="text-danger" *ngIf="hasErrors('nombre', 'required')">Nombre requerido</div>
          <div  class="text-danger" *ngIf="hasErrors('nombre', 'minlength')">Nombre requerie minimo 3 caracteres</div>
        </div>
        <div class="mb-3">
          <label for="apellido" class="form-label">Apellido</label>
          <input  [ngClass]="{'is-invalid' : hasErrors('apellido', 'required') || hasErrors('apellido', 'minlength')}" type="text" class="form-control" id="apellido" aria-describedby="emailHelp" formControlName = "apellido"> 
          <div  class="text-danger" *ngIf="hasErrors('apellido', 'required')">Apellido requerido</div>
          <div  class="text-danger" *ngIf="hasErrors('apellido', 'minlength')">Apellido requerie minimo 3 caracteres</div>
        </div>
        <div class="mb-3">
          <label for="tipo-dni" class="form-label">Tipo DNI</label>
          <!-- Para que escuche el OnInit importante el formControlName -->
            <select class="form-select"  formControlName ="tipoDni"> 
              <option value="DNI">DNI</option>
              <option value="Pasaporte">Pasaporte</option>
              <option value="Cedula">Cedula</option>
              <option value="Libreta Civica">Libreta Civica</option>
            </select>
        </div>
        <div class="mb-3">
          <app-dni [tipoDni]="tipoDni"></app-dni>
        </div>
        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input  [ngClass]="{'is-invalid': hasErrors('email', 'required') || hasErrors('email', 'email')}" type="email" class="form-control" id="email" formControlName = "email">
          <div  class="text-danger"*ngIf="hasErrors('email','email')">Email invalido</div>
          <div  class="text-danger"*ngIf="hasErrors('email','required')">Email Requerido</div>
        </div>
        <button type="enviar" class="btn btn-primary">enviar</button>
      </form>
</div> 