<div class="container-sm">
  <h1>List of Products</h1>
<table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col">Detail</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of productsList">
        <th scope="row">{{ product.id }}</th>
        <td>{{ product.title }}</td>
        <!--  Currency sirve para la parte de pesos/ dolares  -->
        <td [ngClass]="{'red' : product.price > 500 }" >{{ product.price | currency }}</td> 
        <button type="button" class="btn btn-outline-primary" [routerLink]="['/products', product.id ]">Detail</button>
      </tr>
    </tbody>
  </table>
</div>